.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showGoalForm {
    margin-bottom: 2vw;
    height: calc(100vh - 2vw);
    max-height: 57vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.showGoalForm::-webkit-scrollbar {
    width: 1vw;
}

.showGoalForm::-webkit-scrollbar-thumb {
    background-color: #e4d4d4;
    border-radius: 1vw;
}

.showGoalForm::-webkit-scrollbar-thumb:hover {
    background-color: #f1e1e1f8;
}

.title {
    text-transform: capitalize;
    flex-grow: 1;
    font-size: 2vw;
    color: rgb(0, 227, 239);
    text-align: center;
}

.noGoals {
    margin: 0.5vw;
    color: #777;
    text-align: center;
    padding-right: 1.7vw;
}

.addButtonForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1vw;
}

.input {
    margin: 0.5vw 0.5vw;
    width: fit-content;
    padding: 0.5vw;
    border-width: 0.1vw;
    border-radius: 0.4vw;
    background-color: #f7fafc;

}

.goalButton {
    opacity: 1;
    transform: scale(1);
    color: rgb(136, 133, 133);
    border-radius: 20%;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    position: absolute;
    bottom: 0.5cm;
    right: 2cm;
}

.goalButton:hover {
    opacity: 0.9;
    color: black;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}

.goalForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.goalActions {
    display: flex;
    justify-content: flex-end;
    padding: 1vw;
    margin: -1vw;
}

.inputCheckbox[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.inputCheckbox[type="checkbox"]:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #007aff;
    transition: all 0.2s ease;
}

.inputCheckbox[type="checkbox"]:checked:before {
    transform: translate(-50%, -50%) scale(1);
}

.inputCheckbox[type="checkbox"]:hover:before {
    background-color: #006fe6;
}

.inputCheckbox[type="checkbox"]:checked {
    background: linear-gradient(to bottom, #007aff, #006fe6);
    border-color: #007aff;
}

.inputCheckbox[type="checkbox"]:checked:after {
    content: "\2713";
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleAddButton {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00bcd4;
    color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.circleAddButton:hover {
    color: #00bcd4;
    background-color: #ffcc00;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.popupWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    height: 200px;
}

.pi {
    font-size: 16px;
    margin-right: 1cm;
}

.pi-pencil {
    color: #2196f3;

}

.pi-times {
    color: #f44336;
}


@media only screen and (max-width: 600px) {
    .goalForm {
        flex-direction: column;
        height: 30%;
    }

    .container {
        flex-direction: column;
        position: relative;
        max-height: 300px;
        align-items: center;
        padding: 0;
    }

    .showGoalForm {
        margin-bottom: 0.5cm;
        height: calc(100% - 0.5cm);
    }

    .goalActions {
        margin-top: -2em;
    }

    .addButtonForm {
        position: relative;
        bottom: 0;
    }

    .title {
        font-size: 1.5rem;
    }

    .goalItemContainer {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        height: 1cm;
    }

    .goalButton {
        margin-left: 95%;
        margin-bottom: 0;
        color: black;
        background-image: none;
        font-size: 16px;
    }

    .input {
        width: 90%;
        margin-bottom: 0;
        height: 0.8cm;
    }

    .addButtonForm {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .noGoals {
        padding-right: 1em;
    }
}