.link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
}

.goalContainer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    z-index: 1000;
}

.closed {
    transition: transform 0.3s ease-out;
    transform: translateX(0%);
}

.open {
    transform: translateX(-100%);
}

.menuIcon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
    transition: transform 0.3s ease-out;
    transform: translateX(0%);
}

.h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.details {
    margin: 2rem 0;
}

.details h5 {
    font-size: 2rem;
    font-weight: medium;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.details .text-gray-400 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: medium;
    text-transform: uppercase;
    color: #fff;
    background-color: #1a202c;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #2d3748;
}

.bg-slate-50 {
    background-color: #f7fafc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.rounded-md {
    border-radius: 0.375rem;
}

.w-8-12 {
    width: 66.666667%;
}

.text-center {
    text-align: center;
}

.goalsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: lightgray;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.goalsList {
    padding: 10px;
}

.slideIn {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .h3 {
        font-size: 3rem;
        font-weight: 500;
    }

    .details h5 {
        font-size: 1.5rem;
    }

    .details .text-gray-400 {
        font-size: 1.25rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 640px) {
    .details {
        margin-bottom: 3rem;
    }

    .h3 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .h3 {
        font-size: 2rem;
        font-weight: 200;
    }

    .details h5 {
        font-size: 1.25rem;
    }

    .details .text-gray-400 {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
}
