.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #c9d4d5;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.circleAddButton {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #00bcd4;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: scale(1);
  margin-bottom: 1cm;
  transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.circleAddButton:hover {
  background-color: #00bcd4;
  color: #ffcc00;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.showStepGoalForm {
  overflow-x: hidden;
  height: 60vh;
}

.showStepGoalForm::-webkit-scrollbar {
  width: 0.5vw;
}

.showStepGoalForm::-webkit-scrollbar-thumb {
  background-color: #e3e9a1f8;
  border-radius: 1vw;
}

.showStepGoalForm::-webkit-scrollbar-thumb:hover {
  background-color: #bbdf6d;
}


.stepLabel {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.stepTitle {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.stepActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.editStepButton,
.deleteStepButton {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 5px;
  transition: background-color 0.2s ease-in-out;
}

.editStepButton:hover,
.deleteStepButton:hover {
  background-color: #e6e6e6;
}

/* New style rules */
.stepItem {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.stepItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.achieved {
  background-color: #5cb85c;
  content: "\2713";
  font-size: 14px;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.stepCheckBox {
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.stepCheckBox:checked {
  background-color: #0070f3;
  border-color: #0070f3;
}

.stepCheckBox:checked:after {
  content: '\2713';
  color: #fff;
}


.editStepButton {
  background-color: #0070f3;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.editStepButton:hover {
  background-color: #0052cc;
}

.deleteStepButton {
  background-color: #f44336;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.deleteStepButton:hover {
  background-color: #d32f2f;
}

/* For screens smaller than 768px (e.g. mobile devices) */
@media only screen and (max-width: 767px) {
  .showStepGoalForm {
    height: 100vh;
  }

  .stepLabel {
    flex-direction: column;
    align-items: flex-start;
  }

  .stepCheckBox {
    margin-right: 5px;
  }

  .stepTitle {
    font-size: 16px;
  }

  /* Adjust container height and margin */
  .container {
    max-height: 80vh;
    height: 100%;
    margin-bottom: 1cm;
  }

}